<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players Stats</title>
</head>
<body>
<h1>Have Stats about your favorite Players Per Season</h1>
<form action="#" method="POST">
    <label>Enter Player Name</label>
    <input type="text" name="name" value="" required>
    <label>Enter League Name</label>
    <select name="league_name">
      <option value="ligue 1">Ligue 1</option>
      <option value="Premier League">Premier League</option>
      <option value="Primeira Liga">Primeira Liga</option>
      <option value="Serie A">Serie A</option>
      <option value="Bundesliga">Bundesliga</option>
      <option value="La Liga">La Liga</option>
    </select>
    <label>Enter Season Year</label>
    <select name="season">
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>
    <label>Enter Country Name</label>
    <select name="country">
      <option value="France">France</option>
      <option value="England">England</option>
      <option value="Portugal">Portugal</option>
      <option value="Italy">Italy</option>
      <option value="Germany">Germany</option>*
      <option value="Spain">Spain</option>
    </select>
    <input type="submit" value="Submit">
</form>

</body>
</html>