<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams Stats</title>
</head>
<body>
<h1>Teams Stats</h1>
<form action="shortenurl">
    <label>Enter Team Name</label>
    <input type="text" name="team_name" value="" required>
    <label>Enter League Name</label>
    <input type="text" name="league_name" value="" required>
    <label>Enter Season Year</label>
    <select name="season">
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
    <input type="submit" value="Submit">
</form>

</body>
</html>