<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams Stats</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h1>Teams Stats</h1>
<form action="team_stats">
    <label>Enter Team Name</label>
    <input type="text" name="team_name" value="" required>
    <label>Enter League Name</label>
    <input type="text" name="league_name" value="" required>
    <label>Enter Season Year</label>
    <select name="season">
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
    <input type="submit" value="Submit">

    <br><br>

    <label>Examples:</label>
     <table>
  <tr>
    <th>Team Name</th>
    <th>League Name</th>
    <th>Season</th>
  </tr>
  <tr>
    <td>Grenoble</td>
    <td>Ligue 2</td>
    <td>2020</td>
  </tr>
  <tr>
    <td>Manchester United</td>
    <td>Premier League</td>
    <td>2016</td>
  </tr>
  <tr>
    <td>Atletico Madrid</td>
    <td>La Liga</td>
    <td>2011</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
</form>

</body>
</html>