<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players Stats</title>
</head>
<body>
<h1><center>Stats About {{ name }} </center></h1>
<table>
  <thead>
      <tr>
          <th colspan="2">{{data.player.name}} : Season {{season}}</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><img src = {{data.player.photo}} /></td>
          <td>
            <b>Name</b> : {{data.player.fistname}} {{data.player.lastname}}
            <br><b>Age</b> : {{data.player.age}}
            <br><b>Birthdate</b> : {{data.player.birth.date}} at {{data.player.birth.place}} in {{data.player.birth.country}}
            <br><b>Nationality</b> : {{data.player.nationality}}
            <br><b>Height</b> : {{data.player.height}}
            <br><b>Weight</b> : {{data.player.weight}}
            <br><b>Position</b> : {{data.statistics[0].games.position}}
            <br><b>Club</b> : {{data.statistics[0].team.name}} <img src = {{data.statistics[0].team.logo}} height="20" weight:"17" />

          </td>
      </tr>
      <tr>
        <!-- <th colspan="2">Statistics</th> -->
        <td>
          <br><b>Appearences</b> : {{data.statistics[0].games.appearences}}
          <br><b>Minutes Played </b> : {{data.statistics[0].games.minutes}}
          <br><b>Goals</b> : {{data.statistics[0].goals.total}}
          <br><b>Assists</b> : {{data.statistics[0].goals.assists}}

        </td>
      </tr>

  </tbody>
</table>
</body>
</html>